XCOMM $XConsortium: bsdLib.tmpl /main/3 1996/09/28 16:09:25 rws $
XCOMM $XFree86: xc/config/cf/bsdLib.tmpl,v 3.1 1995/01/28 15:40:19 dawes Exp $

/*
 * NetBSD/FreeBSD shared library template
 */

#ifndef SharedXtReqs
#define SharedXtReqs /**/
#endif
#ifndef SharedXawReqs
#define SharedXawReqs /**/
#endif
#ifndef SharedXmuReqs
#define SharedXmuReqs $(LDPRELIBS) $(XTOOLONLYLIB) $(XONLYLIB)
#endif
