XCOMM $XConsortium: lnxLib.tmpl,v 1.1 94/03/29 15:34:47 gildea Exp $
XCOMM $XFree86: xc/config/cf/lnxLib.tmpl,v 3.2 1994/10/21 11:20:20 dawes Exp $

/*
 * Linux shared library template
 */

/* Linux ELF shared libraries are deficient in link semantics */
#if UseElfFormat
#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIBONLY = -lXmu							@@\
XMULIB = $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif
#ifndef XawClientLibs
#define XawClientLibs $(XAWLIB) $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif
#endif
#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIB = -L$(XMUSRC) -lXmu $(XLIB)
#endif
#endif
