XCOMM $XConsortium: lnxLib.tmpl,v 1.1 94/03/29 15:34:47 gildea Exp $
XCOMM $XFree86: xc/config/cf/lnxLib.tmpl,v 3.1 1994/07/16 10:18:41 dawes Exp $

/*
 * Linux shared library template
 */

/* Linux ELF shared libraries are deficient in link semantics */
#if UseElfFormat
#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIBONLY = -lXmu							@@\
XMULIB = $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif
#ifndef XawClientLibs
#define XawClientLibs $(XAWLIB) $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif
#endif
