/*
 * Server imakefile info  - this contains any special redefinitions, etc.
 * that Imakefiles in the server subtree will need.
 */

XCOMM $XConsortium: Server.tmpl /main/14 1996/04/30 14:37:27 mw $
XCOMM $XFree86: xc/config/cf/Server.tmpl,v 3.8.2.1 1998/06/03 15:49:17 dawes Exp $

#define PassCDebugFlags CDEBUGFLAGS="$(CDEBUGFLAGS)" LDSTRIPFLAGS="$(LDSTRIPFLAGS)"

#ifndef ServerCcCmd
#define ServerCcCmd CcCmd
#endif
#ifndef ServerCCOptions
#define ServerCCOptions DefaultCCOptions
#endif
#ifndef ServerDefines
#define ServerDefines StandardDefines
#endif
#ifndef ServerCDebugFlags
#define ServerCDebugFlags DefaultCDebugFlags
#endif
#ifndef DoThreadedServer
#define DoThreadedServer NO
#endif
#ifndef DoLoadableServer
#define DoLoadableServer NO
#endif
#ifndef InstallServerSetUID
#define InstallServerSetUID NO
#endif

/*
 * SetUIDServerTarget - compile, link, and relink a setuid server
 */
#ifndef SetUIDServerTarget
#if InstallServerSetUID
#define	SetUIDServerTarget(server,subdirs,objects,libs,syslibs)		@@\
ServerTargetWithFlags(server,subdirs,objects,libs,syslibs,$(INSTUIDFLAGS))
#else
#define	SetUIDServerTarget ServerTarget
#endif
#endif /* SetUIDServerTarget */

/*
 * ExtensionsModules  - compile server extensions as modules.
 */
#ifndef ExtensionsModules
#define ExtensionsModules	DoLoadableServer
#endif

#ifndef PexModule
#define PexModule		ExtensionsModules
#endif
#ifndef XieModule
#define XieModule		ExtensionsModules
#endif
#ifndef GlxModule
#define GlxModule		ExtensionsModules
#endif

         CC = ServerCcCmd
  CCOPTIONS = ServerCCOptions
#if DoThreadedServer
SERVER_THREAD_DEFINES = XThreadsDefines ThreadTypeDefines
#endif
STD_DEFINES = ServerDefines $(SERVER_THREAD_DEFINES)
CDEBUGFLAGS = ServerCDebugFlags
EXT_DEFINES = ExtensionDefines

GLX_DEFINES = GlxDefines
 
#ifndef GlxStaticServerLib
#define GlxStubLib    YES
#else
#define GlxStubLib    NO
#endif

#ifdef XFree86Version
#include <xf86.tmpl>
#endif
