/*
 * Server imakefile info  - this contains any special redefinitions, etc.
 * that Imakefiles in the server subtree will need.
 */

XCOMM $XConsortium: Server.tmpl /main/14 1996/04/30 14:37:27 mw $
XCOMM $XFree86: xc/config/cf/Server.tmpl,v 3.8 1997/05/03 09:14:33 dawes Exp $

#define PassCDebugFlags CDEBUGFLAGS="$(CDEBUGFLAGS)" LDSTRIPFLAGS="$(LDSTRIPFLAGS)"

#ifndef ServerCcCmd
#define ServerCcCmd CcCmd
#endif
#ifndef ServerCCOptions
#define ServerCCOptions DefaultCCOptions
#endif
#ifndef ServerDefines
#define ServerDefines StandardDefines
#endif
#ifndef ServerCDebugFlags
#define ServerCDebugFlags DefaultCDebugFlags
#endif
#ifndef DoThreadedServer
#define DoThreadedServer NO
#endif
#ifndef DoLoadableServer
#define DoLoadableServer NO
#endif
#ifndef InstallServerSetUID
#define InstallServerSetUID NO
#endif

/*
 * SetUIDServerTarget - compile, link, and relink a setuid server
 */
#ifndef SetUIDServerTarget
#if InstallServerSetUID
#define	SetUIDServerTarget(server,subdirs,objects,libs,syslibs)		@@\
ServerTargetWithFlags(server,subdirs,objects,libs,syslibs,$(INSTUIDFLAGS))
#else
#define	SetUIDServerTarget ServerTarget
#endif
#endif /* SetUIDServerTarget */

/*
 * BuildDynamicLoading - dynamic module support
 */
#ifndef BuildDynamicLoading
#define BuildDynamicLoading		NO
#endif

/*
 * ExtensionsModules  - compile server extensions as modules
 *			either traditional shared libraries, 
 *			(BuildDynamicLoading) or static libraries 
 *			that are loaded by a special loader at runtime
 *			(DoLoadableServer)
 */
#ifndef ExtensionsModules
#define ExtensionsModules	(BuildDynamicLoading || DoLoadableServer)
#endif

#ifndef PexModule
#define PexModule		ExtensionsModules
#endif
#ifndef XieModule
#define XieModule		ExtensionsModules
#endif
#ifndef GlxModule
#define GlxModule		ExtensionsModules
#endif

#ifndef ExtensionModuleDefines
#ifndef PexModuleDefines
#if PexModule || DoLoadableServer
#define PexModuleDefines -DPEX_MODULE
#else
#define PexModuleDefines /**/
#endif
#endif
#ifndef XieModuleDefines
#if XieModule || DoLoadableServer
#define XieModuleDefines -DXIE_MODULE
#else
#define XieModuleDefines /**/
#endif
#endif
#ifndef GlxModuleDefines
#if GlxModule || DoLoadableServer
#define GlxModuleDefines -DGLX_MODULE
#else
#define GlxModuleDefines -UGLXEXT
#endif
#endif
#define ExtensionModuleDefines PexModuleDefines XieModuleDefines \
				GlxModuleDefines
#endif

         CC = ServerCcCmd
  CCOPTIONS = ServerCCOptions
#if DoThreadedServer
SERVER_THREAD_DEFINES = XThreadsDefines ThreadTypeDefines
#endif
STD_DEFINES = ServerDefines $(SERVER_THREAD_DEFINES)
CDEBUGFLAGS = ServerCDebugFlags
EXT_DEFINES = ExtensionDefines
EXT_MODULE_DEFINES = ExtensionModuleDefines

#if GlxModule | DoLoadableServer
GLX_DEFINES = GlxDefines -DGLX_MODULE
#else
GLX_DEFINES = GlxDefines
#endif
 
#ifndef GlxStaticServerLib
#define GlxStubLib    YES
#else
#define GlxStubLib    NO
#endif

#ifdef XFree86Version
#include <xf86.tmpl>
#endif
