XCOMM $XFree86: xc/config/cf/sgiLib.tmpl,v 3.5 2005/03/29 18:17:00 tsi Exp $

/*
 * SGI shared library template
 */
#define SharedXtReqs $(LDPRELIBS) $(XONLYLIB) -delay_load $(SMLIB) -delay_load $(ICELIB)
#define SharedXmuReqs $(LDPRELIBS) $(XTOOLONLYLIB)
#define SharedXpReqs $(LDPRELIBS) $(XLIB)

#define SharedXReqs $(XTOOLLIB) $(XPLIB) $(XLIB) -lgen
#define SharedXmReqs $(LDPRELIBS) SharedXReqs
#define SharedMrmReqs $(LDPRELIBS) $(XMLIB) SharedXReqs
#define SharedUilReqs $(LDPRELIBS) $(MRESOURCELIB) $(XMLIB) SharedXReqs
#define SharedXlibi18nReqs $(LDPRELIB) $(XONLYLIB)
